.header {
	margin: 20px;
	background: rgb(245,35,71);
	background: linear-gradient(216deg, rgba(245,35,71,1) 0%, rgba(247,168,148,1) 52%, rgba(61,68,167,1) 100%);
}

.page-title {
	font-family: 'Spectral', serif;
	font-size: 50px;
}

.p {
	font-family: 'Karla', sans-serif;
}

.h4 {
	font-family: 'Spectral', serif;
	font-size: 30px;
	left: 50px;
}