.body {
	background-color: #9b59b6;
}

.header {
	margin: 40px;
	padding: 50px;
}

.page-title {
	font-family: 'Spectral', serif;
	font-size: 50px;
	margin: 30px 0 0 80px;
	color: #16a085;
	
}

.page-poem {
	font-family: 'Karla', sans-serif;
	line-height: 1.7;
	font-size: 25px;
	text-align: justify;
	margin: 0 0 0 80px;
}

.footer {
	font-family: 'Spectral', serif;
	font-size: 35px;
	right: 150px;
	margin: 0 0 0 160px;
	color: #16a085;
}
