.header {
	margin: 20px;
	background-color: : rgb(245,35,71);
	background: linear-gradient(216deg, rgba(245,35,71,1) 0%, rgba(247,168,148,1) 52%, rgba(61,68,167,1) 100%);
}

.page-title {
	font-family: 'Spectral', serif;
	font-size: 50px;
	margin: 30px;
	color: #16a085;
	margin: 0 auto;
}

.page-poem {
	font-family: 'Karla', sans-serif;
	line-height: 1.7;
	font-size: 25px;
	text-align: justify;
	margin: 0 auto;
}

.footer {
	font-family: 'Spectral', serif;
	font-size: 35px;
	right: 150px;
	margin: 0 auto;
}